body{
	background-color: #f2f2f2;
}
.navbar {background-color: #23b7e5; border-style: none;}
.nav.navbar-nav li a {color: #fff;}
div .navbar-header .navbar-brand{color: #fff}
.blk{width: 450px; height: 275px;margin: 15px; background-color: #6ca9e3;float:; border: 1px solid black;  box-shadow: 5px 5px 5px #888888;
text-align: left;
}