<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<select ng-model="selectedPrice">
<option ng-repeat="x in price" value="{{x.value}}">{{x.value}}</option>
</select>
<p>{{2140-selectedPrice}}</p></div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.price = [
    	{value:"0"},
        {value : "100"},
        {value: "500"},
        {value: "1000"}
    ];
});
</script>
</body>
</html>